StockOrderSoapService/WebContent/wsdl/MoneyExchangeRequestServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.birzeit.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soa.birzeit.edu" xmlns:intf="http://soa.birzeit.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soa.birzeit.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="exchangeMoneyFromUsd">
    <complexType>
     <sequence>
      <element name="moneyAmount" type="xsd:double"/>
      <element name="toCurrency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exchangeMoneyFromUsdResponse">
    <complexType>
     <sequence>
      <element name="exchangeMoneyFromUsdReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="exchangeMoneyFromUsdRequest">

      <wsdl:part element="impl:exchangeMoneyFromUsd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exchangeMoneyFromUsdResponse">

      <wsdl:part element="impl:exchangeMoneyFromUsdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MoneyExchangeRequestServiceImpl">

      <wsdl:operation name="exchangeMoneyFromUsd">

         <wsdl:input message="impl:exchangeMoneyFromUsdRequest" name="exchangeMoneyFromUsdRequest">

       </wsdl:input>

         <wsdl:output message="impl:exchangeMoneyFromUsdResponse" name="exchangeMoneyFromUsdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MoneyExchangeRequestServiceImplSoapBinding" type="impl:MoneyExchangeRequestServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="exchangeMoneyFromUsd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exchangeMoneyFromUsdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exchangeMoneyFromUsdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MoneyExchangeRequestServiceImplService">

      <wsdl:port binding="impl:MoneyExchangeRequestServiceImplSoapBinding" name="MoneyExchangeRequestServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/StockOrderSoapService/services/MoneyExchangeRequestServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
