OrderStockSoapService/WebContent/wsdl/MoneyExchangeRequestImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://assignment5.soa.birzeit.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://assignment5.soa.birzeit.edu" xmlns:intf="http://assignment5.soa.birzeit.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://assignment5.soa.birzeit.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getExchangeRateFromService">
    <complexType>
     <sequence>
      <element name="toCurrency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getExchangeRateFromServiceResponse">
    <complexType>
     <sequence>
      <element name="getExchangeRateFromServiceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="exchangeMoneyFromUsd">
    <complexType>
     <sequence>
      <element name="moneyAmount" type="xsd:double"/>
      <element name="exchangeRate" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="exchangeMoneyFromUsdResponse">
    <complexType>
     <sequence>
      <element name="exchangeMoneyFromUsdReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getExchangeRateFromServiceResponse">

      <wsdl:part element="impl:getExchangeRateFromServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exchangeMoneyFromUsdRequest">

      <wsdl:part element="impl:exchangeMoneyFromUsd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getExchangeRateFromServiceRequest">

      <wsdl:part element="impl:getExchangeRateFromService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exchangeMoneyFromUsdResponse">

      <wsdl:part element="impl:exchangeMoneyFromUsdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MoneyExchangeRequestImpl">

      <wsdl:operation name="getExchangeRateFromService">

         <wsdl:input message="impl:getExchangeRateFromServiceRequest" name="getExchangeRateFromServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getExchangeRateFromServiceResponse" name="getExchangeRateFromServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exchangeMoneyFromUsd">

         <wsdl:input message="impl:exchangeMoneyFromUsdRequest" name="exchangeMoneyFromUsdRequest">

       </wsdl:input>

         <wsdl:output message="impl:exchangeMoneyFromUsdResponse" name="exchangeMoneyFromUsdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MoneyExchangeRequestImplSoapBinding" type="impl:MoneyExchangeRequestImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getExchangeRateFromService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExchangeRateFromServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getExchangeRateFromServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exchangeMoneyFromUsd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exchangeMoneyFromUsdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exchangeMoneyFromUsdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MoneyExchangeRequestImplService">

      <wsdl:port binding="impl:MoneyExchangeRequestImplSoapBinding" name="MoneyExchangeRequestImpl">

         <wsdlsoap:address location="http://localhost:8080/OrderStockSoapService/services/MoneyExchangeRequestImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
